@font-face{
    font-family: 'Trajan';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/Trajan-Regular.ttf) format('ttf');
    src: url(fonts/TrajanPro-Regular.woff) format('woff');
}

@font-face{
    font-family: 'Perpetua';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/perpetua.ttf) format('ttf');
}

body{
    font-family: 'Perpetua';
    color: white;
    background-image: url(misc/Menu_Theme_Citadel_of_Song.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: black;
}

body::selection{
    background-color: #b71c1c;
}

header{
    background-color: black;
    position: fixed;
    padding: 0 0;
    margin: 0 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.silky{
    cursor: pointer;
    margin-right: auto;
    width: 50px;
    padding-top: 20px;
    padding-left: 65px;
    padding-bottom: 15px;
}

.buynow{
    font-family: 'Trajan';
    font-weight: 200px;
    font-size: 16px;
    color: #b71c1c;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 20px;
    background-color: black;
    border-color: #b71c1c;
    box-shadow: none;
    text-shadow: none;
    transition: all 750ms;
}

.buynow:hover{
    box-shadow: 0 0 5px red, 0 0 10px white;
    background-color: #b71c1c;
    border-color: white;
    color: white;
    transition: all 250ms;
}

.main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    justify-content: space-around;
    text-align: right;
    white-space: nowrap;
}

.main ul li{
    list-style: none;
    display: inline-block; 
}

.main ul li a{
    font-family: 'Trajan';
    font-size: 16px;
    color: white;
    text-shadow: none;
    transition: text-shadow 0.2s ease-in-out;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
}

.main ul li a:hover{
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white;
}

.divider{
    display: flex;
    justify-content: center;
}

.divider img{
    margin: auto;
    position: fixed;
    z-index: 2;
    width: 50%;
    margin-top: 62px;
}

.join img{
    display: block;
    margin: 0px auto;
    width: 10%;
}

.join{
    text-align: center;
    font-size: 17px;
    background-color: black;
    padding: 10px;
}

footer{
    justify-content: center;
    font-size: 17px;
    padding: 10px;
    align-items: center;
    display: flex;
    background-color: black;
    text-shadow: 0 0 3px white;
}


form input{
    margin: 10px 0px;
    padding: 10px 10px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 25px;
}

form input:invalid{
    color: #b71c1c;
}

.separator img{
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

.titlecard{
    padding-top: 150px;
    display: grid;
    place-items: center;
}

.titlecard h3{
    font-family: 'Trajan';
    font-size: 25px;
}

.titlecard .flip{
    transform: scaleX(-1);
}

.titlecard h1{
    font-family: 'Trajan';
    font-size: 55px;
    padding-top: -100px;
}

.mossgrotto {
    margin: 50px 100px;
    margin-top: 0;
}

.mossgrotto h1{
    font-family: 'Trajan';
    font-size: 45px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.mossgrotto p{
    font-size: 20px;
    text-indent: 75px;
}

.mossgrotto .mossy{
    justify-content: center;
    display: flex;
}

.mossgrotto .mossy img{
    width: 60%;
    margin: auto;
}

.themarrow {
    margin: 50px 100px;
    margin-top: 0;
}

.themarrow h1{
    font-family: 'Trajan';
    font-size: 45px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.themarrow p{
    font-size: 20px;
    text-indent: 75px;
}

.themarrow .marrowy{
    justify-content: center;
    display: flex;
}

.themarrow .marrowy img{
    width: 60%;
    margin: auto;
}

.gen {
    margin: 50px 100px;
    margin-top: 0;
}

.gen h1{
    font-family: 'Trajan';
    font-size: 45px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.gen p{
    font-size: 20px;
    text-indent: 75px;
}

.gen .genny{
    justify-content: center;
    display: flex;
}

.gen .genny img{
    width: 60%;
    margin: auto;
}

@media screen and (min-width: 961px) and (max-width: 1400px){
    body{
        background-size: calc(100vh*2)
    }
}

@media screen and (min-width: 701px) and (max-width: 960px){
    body{
        background-size: calc(100vh*2)
    }
}

@media screen and (min-width: 481px) and (max-width: 700px){
    body{
        background-size: calc(100vh*2)
    }

    .gen .genny img{
        width: 300px;
    }

    .titlecard h1{
        font-size: 55px;
    }

    .titlecard img{
        width: 60px
    }
}

@media screen and (min-width: 361px) and (max-width: 480px){
    body{
        background-size: calc(100vh*2)
    }

    .gen .genny img{
        width: 300px;
    }

    .titlecard h1{
        font-size: 45px;
    }

    .titlecard img{
        width: 50px;
    }
}

@media screen and (min-width: 1px) and (max-width: 361px){
    body{
        background-size: calc(100vh*2)
    }

    .gen .genny img{
        width: 300px;
    }

    .titlecard h1{
        font-size: 45px;
    }

    .titlecard img{
        width: 50px;
    }
}