@font-face{
    font-family: 'Trajan';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/Trajan-Regular.ttf) format('ttf');
    src: url(fonts/TrajanPro-Regular.woff) format('woff');
}

@font-face{
    font-family: 'Perpetua';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/perpetua.ttf) format('ttf');
}

body{
    font-family: 'Perpetua';
    color: white;
    background-image: url(misc/Menu_Theme_Silksong.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: black;
}

body::selection{
    background-color: #b71c1c;
}

header{
    background-color: black;
    position: fixed;
    padding: 0 0;
    margin: 0 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.silky{
    cursor: pointer;
    margin-right: auto;
    width: 50px;
    padding-top: 20px;
    padding-left: 65px;
    padding-bottom: 15px;
}

.buynow{
    font-family: 'Trajan';
    font-weight: 200px;
    font-size: 16px;
    color: #b71c1c;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 20px;
    background-color: black;
    border-color: #b71c1c;
    box-shadow: none;
    text-shadow: none;
    transition: all 750ms;
}

.buynow:hover{
    box-shadow: 0 0 5px red, 0 0 10px white;
    background-color: #b71c1c;
    border-color: white;
    color: white;
    transition: all 250ms;
}

.main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    justify-content: space-around;
    text-align: right;
    white-space: nowrap;
}

.main ul li{
    list-style: none;
    display: inline-block; 
}

.main ul li a{
    font-family: 'Trajan';
    font-size: 16px;
    color: white;
    text-shadow: none;
    transition: text-shadow 0.2s ease-in-out;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
}

.main ul li a:hover{
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white;
} 
    
.divider{
    display: flex;
    justify-content: center;;
}

.divider img{
    margin: auto;
    position: fixed;
    z-index: 2;
    width: 50%;
    margin-top: 62px;
}

.join img{
    display: block;
    margin: 0px auto;
    width: 10%;
}

.join{
    text-align: center;
    font-size: 17px;
    background-color: black;
    padding: 10px;
}

footer{
    justify-content: center;
    font-size: 17px;
    padding: 10px;
    align-items: center;
    display: flex;
    background-color: black;
    text-shadow: 0 0 3px white;
    margin-bottom: 0;
    position: absolute;
    width: 97%;
}


form input{
    margin: 10px 0px;
    padding: 10px 10px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 25px;
}

form input:invalid{
    color: #b71c1c;
}

.separator img{
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

.one{
    padding-top: 150px;
    display: grid;
    place-items: center;
}

.one h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.two{
    padding-top: 0px;
    padding-bottom: 60px;
    display: grid;
    place-items: center;
}

.two h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.shakra{
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: content-box;
    margin: 400px;
    margin-top: 0;
    margin-bottom: 50px;
    padding-bottom: 0;
}

.shakra img{
    width: 200px;
    border-style: solid;
    border-width: 1px;
    transition: transform .2s;
}

.shakra img:hover{
    transform: scale(1.3);
    background-color: rgba(183,28,28,0.4);
    backdrop-filter: blur(30px);
    border-style: none;
}

.shakra h1{
    font-family: 'Trajan';
    font-size: 30px;
}

.shakra h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.shakra h3{
    font-size: 20px;
    text-align: center;
}

.shakra h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.shakra h3 a{
    text-decoration: none;
    color: yellow;
    transition: all 0.3s;
}

.shakra h3 a:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

.shakra p{
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 40px;
    margin: 50px;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 20px;
}

.shakra p span{
    color: yellow;
}

.lace{
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: content-box;
    margin: 400px;
    margin-top: 0;
    margin-bottom: 50px;
}

.lace img{
    width: 200px;
    border-style: solid;
    border-width: 1px;
    transition: transform .2s;
}

.lace img:hover{
    transform: scale(1.3);
    background-color: rgba(183,28,28,0.4);
    backdrop-filter: blur(30px);
    border-style: none;
}

.lace h1{
    font-family: 'Trajan';
    font-size: 30px;
}

.lace h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.lace h3{
    font-size: 20px;
    text-align: center;
}

.lace h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.lace h3 a{
    text-decoration: none;
    color: yellow;
    transition: all 0.3s;
}

.lace h3 a:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

.lace p{
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 40px;
    margin: 50px;
    margin-top: 30px;
    font-size: 20px;
}

.beast{
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: content-box;
    margin: 400px;
    margin-top: 0;
    margin-bottom: 50px;
}

.beast img{
    width: 200px;
    border-style: solid;
    border-width: 1px;
    transition: transform .2s;
}

.beast img:hover{
    transform: scale(1.3);
    background-color: rgba(183,28,28,0.4);
    backdrop-filter: blur(30px);
    border-style: none;
}

.beast h1{
    font-family: 'Trajan';
    font-size: 30px;
}

.beast h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.beast h3{
    font-size: 20px;
    text-align: center;
}

.beast h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.beast h3 a{
    text-decoration: none;
    color: yellow;
    transition: all 0.3s;
}

.beast h3 a:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

.beast p{
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 40px;
    margin: 50px;
    margin-top: 30px;
    font-size: 20px;
}

.moss{
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: content-box;
    margin: 400px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.moss img{
    width: 200px;
    border-style: solid;
    border-width: 1px;
    transition: transform .2s;
}

.moss img:hover{
    transform: scale(1.3);
    background-color: rgba(183,28,28,0.4);
    backdrop-filter: blur(30px);
    border-style: none;
}

.moss h1{
    font-family: 'Trajan';
    font-size: 30px;
}

.moss h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.moss h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.moss h3 a{
    text-decoration: none;
    color: yellow;
    transition: all 0.3s;
}

.moss h3 a:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

.moss p{
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 40px;
    margin: 50px;
    margin-top: 30px;
    font-size: 20px;
}

.four{
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: content-box;
    margin: 400px;
    margin-top: 0;
    margin-bottom: 50px;
}

.four img{
    width: 200px;
    border-style: solid;
    border-width: 1px;
    transition: transform .2s;
}

.four img:hover{
    transform: scale(1.3);
    background-color: rgba(183,28,28,0.4);
    backdrop-filter: blur(30px);
    border-style: none;
}

.four h1{
    font-family: 'Trajan';
    font-size: 30px;
}

.four h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.four h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.four h3 a{
    text-decoration: none;
    color: yellow;
    transition: all 0.3s;
}

.four h3 a:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

.four p{
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 40px;
    margin: 50px;
    margin-top: 30px;
    font-size: 20px;
}

.moorwing{
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: content-box;
    margin: 400px;
    margin-top: 0;
    margin-bottom: 50px;
}

.moorwing img{
    width: 200px;
    border-style: solid;
    border-width: 1px;
    transition: transform .2s;
}

.moorwing img:hover{
    transform: scale(1.3);
    background-color: rgba(183,28,28,0.4);
    backdrop-filter: blur(30px);
    border-style: none;
}

.moorwing h1{
    font-family: 'Trajan';
    font-size: 30px;
}

.moorwing h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.moorwing h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.moorwing h3 a{
    text-decoration: none;
    color: yellow;
    transition: all 0.3s;
}

.moorwing h3 a:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

.moorwing p{
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 40px;
    margin: 50px;
    margin-top: 30px;
    font-size: 20px;
}

.splint{
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: content-box;
    margin: 400px;
    margin-top: 0;
    margin-bottom: 50px;
}

.splint img{
    width: 200px;
    border-style: solid;
    border-width: 1px;
    transition: transform .2s;
}

.splint img:hover{
    transform: scale(1.3);
    background-color: rgba(183,28,28,0.4);
    backdrop-filter: blur(30px);
    border-style: none;
}

.splint h1{
    font-family: 'Trajan';
    font-size: 30px;
}

.splint h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.splint h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.splint h3 a{
    text-decoration: none;
    color: yellow;
    transition: all 0.3s;
}

.splint h3 a:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

.splint p{
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 40px;
    margin: 50px;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 0;
}

.splint span{
    color: yellow
}

.widow{
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: content-box;
    margin: 400px;
    margin-top: 0;
    margin-bottom: 50px;
}

.widow img{
    width: 200px;
    border-style: solid;
    border-width: 1px;
    transition: transform .2s;
}

.widow img:hover{
    transform: scale(1.3);
    background-color: rgba(183,28,28,0.4);
    backdrop-filter: blur(30px);
    border-style: none;
}

.widow h1{
    font-family: 'Trajan';
    font-size: 30px;
}

.widow h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.widow h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.widow h3 a{
    text-decoration: none;
    color: yellow;
    transition: all 0.3s;
}

.widow h3 a:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

.widow p{
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 40px;
    margin: 50px;
    margin-top: 30px;
    font-size: 20px;
}

.widow span{
    color: yellow;
}

.judge{
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: content-box;
    margin: 400px;
    margin-top: 0;
    margin-bottom: 50px;
}

.judge img{
    width: 200px;
    border-style: solid;
    border-width: 1px;
    transition: transform .2s;
}

.judge img:hover{
    transform: scale(1.3);
    background-color: rgba(183,28,28,0.4);
    backdrop-filter: blur(30px);
    border-style: none;
}

.judge h1{
    font-family: 'Trajan';
    font-size: 30px;
}

.judge h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.judge h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.judge h3 a{
    text-decoration: none;
    color: yellow;
    transition: all 0.3s;
}

.judge h3 a:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

.judge p{
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 40px;
    margin: 50px;
    margin-top: 30px;
    font-size: 20px;
}

.phantom{
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: content-box;
    margin: 400px;
    margin-top: 0;
    margin-bottom: 50px;
}

.phantom img{
    width: 200px;
    border-style: solid;
    border-width: 1px;
    transition: transform .2s;
}

.phantom img:hover{
    transform: scale(1.3);
    background-color: rgba(183,28,28,0.4);
    backdrop-filter: blur(30px);
    border-style: none;
}

.phantom h1{
    font-family: 'Trajan';
    font-size: 30px;
}

.phantom h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.phantom h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.phantom h3 a{
    text-decoration: none;
    color: yellow;
    transition: all 0.3s;
}

.phantom h3 a:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

.phantom p{
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 40px;
    margin: 50px;
    margin-top: 30px;
    font-size: 20px;
}

.gen{
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: content-box;
    margin: 400px;
    margin-top: 0;
    margin-bottom: 50px;
}

.gen img{
    width: 200px;
    border-style: solid;
    border-width: 1px;
    transition: transform .2s;
}

.gen img:hover{
    transform: scale(1.3);
    background-color: rgba(183,28,28,0.4);
    backdrop-filter: blur(30px);
    border-style: none;
}

.gen h1{
    font-family: 'Trajan';
    font-size: 30px;
}

.gen h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.gen h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.gen h3 a{
    text-decoration: none;
    color: yellow;
    transition: all 0.3s;
}

.gen h3 a:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

.gen p{
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 40px;
    margin: 50px;
    margin-top: 30px;
    font-size: 20px;
}

.gen p span{
    color: yellow;
}

@media screen and (min-width: 961px) and (max-width: 1400px){
    body{
        background-size: calc(100vh*2)
    }
    .gen{
        margin: 350px;
        margin-top: 40px;
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 701px) and (max-width: 960px){
    body{
        background-size: calc(100vh*2)
    }
    .gen{
        margin: 200px;
        margin-top: 40px;
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 481px) and (max-width: 700px){
    body{
        background-size: calc(100vh*2)
    }
    .gen{
        margin: 100px;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .one img{
        width: 70%;
    }

    .one h2{
        font-size: 40px;
    }
}

@media screen and (min-width: 361px) and (max-width: 480px){
    body{
        background-size: calc(100vh*2)
    }
    .gen{
        margin: 50px;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .one img{
        width: 50%;
    }

    .one h2{
        font-size: 30px;
    }

    .separator img{
        width: 50%;
    }
}

@media screen and (min-width: 1px) and (max-width: 360px){
    body{
        background-size: calc(100vh*2)
    }
    .gen{
        margin: 50px;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .one img{
        width: 50%;
    }

    .one h2{
        font-size: 30px;
    }

    .separator img{
        width: 50%;
    }
}

#sister p{
    margin-bottom: 0;
}