@font-face{
    font-family: 'Trajan';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/Trajan-Regular.ttf) format('ttf');
    src: url(fonts/TrajanPro-Regular.woff) format('woff');
}

@font-face{
    font-family: 'Perpetua';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/perpetua.ttf) format('ttf');
}

body{
    font-family: 'Perpetua';
    color: white;
    background-image: url(misc/Menu_Theme_Silksong.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: black;
}

body::selection{
    background-color: #b71c1c;
}

header{
    background-color: black;
    position: fixed;
    padding: 0 0;
    margin: 0 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.silky{
    cursor: pointer;
    margin-right: auto;
    width: 50px;
    padding-top: 20px;
    padding-left: 65px;
    padding-bottom: 15px;
}

.buynow{
    font-family: 'Trajan';
    font-weight: 200px;
    font-size: 16px;
    color: #b71c1c;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 20px;
    background-color: black;
    border-color: #b71c1c;
    box-shadow: none;
    text-shadow: none;
    transition: all 750ms;
}

.buynow:hover{
    box-shadow: 0 0 5px red, 0 0 10px white;
    background-color: #b71c1c;
    border-color: white;
    color: white;
    transition: all 250ms;
}

.main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    justify-content: space-around;
    text-align: right;
    white-space: nowrap;
}

.main ul li{
    list-style: none;
    display: inline-block; 
}

.main ul li a{
    font-family: 'Trajan';
    font-size: 16px;
    color: white;
    text-shadow: none;
    transition: text-shadow 0.2s ease-in-out;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
}

.main ul li a:hover{
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white;
}

.divider{
    display: flex;
    justify-content: center;;
}

.divider img{
    margin: auto;
    position: fixed;
    z-index: 2;
    width: 50%;
    margin-top: 62px;
}

.join img{
    display: block;
    margin: 0px auto;
    width: 10%;
}

.join{
    text-align: center;
    font-size: 17px;
    background-color: black;
    padding: 10px;
}

footer{
    justify-content: center;
    font-size: 17px;
    padding: 10px;
    align-items: center;
    display: flex;
    background-color: black;
    text-shadow: 0 0 3px white;
    margin-bottom: 0;
    position: absolute;
    width: 97%;
}

form input{
    margin: 10px 0px;
    padding: 10px 10px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 25px;
}

form input:invalid{
    color: #b71c1c;
}

.contacts{
    display: grid;
    place-items: center;
    padding-top: 150px;
}

.contacts h2{
    font-family: 'Trajan';
    font-size: 40px;
}

.morere{
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    place-items: center;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
}

.morere img{
    width: 200px;
}

.morere ul button{
    list-style-type: none;
    background-color: black;
    justify-content: center;
    border-radius: 10px;
    transition: background-color .3s;
}

.morere ul button:hover{
    background-color: #b71c1c;
}

.morere ul a{
    font-family: 'Trajan';
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: text-shadow .2s;
}

.morere p{
    margin: 50px;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
}

.morere p span{
    color: yellow;
}

.join img{
    display: block;
    margin: 0px auto;
    width: 10%;
}

.join{
    text-align: center;
    font-size: 17px;
    background-color: black;
    padding: 10px;
}

footer{
    justify-content: center;
    font-size: 17px;
    padding: 10px;
    align-items: center;
    display: flex;
    background-color: black;
    text-shadow: 0 0 3px white;
    position: relative;
    margin-bottom: 0;
    position: absolute;
    width: 97%;
}

@media screen and (min-width: 961px) and (max-width: 1400px){
    body{
        background-size: calc(100vh*2)
    }
    .morere{
        margin: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 701px) and (max-width: 960px){
    body{
        background-size: calc(100vh*2)
    }
    .morere{
        margin: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 701px) and (max-width: 960px){
    body{
        background-size: calc(100vh*2)
    }
    .morere{
        margin: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 481px) and (max-width: 700px){
    body{
        background-size: calc(100vh*2)
    }

    .wow img{
        width: 50%;
    }

    .morere{
        margin: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .contacts img{
        width: 70%;
    }
}

@media screen and (min-width: 361px) and (max-width: 480px){
    body{
        background-size: calc(100vh*2)
    }

    .wow img{
        width: 50%;
    }

    .morere{
        margin: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .contacts img{
        width: 70%;
    }
}

@media screen and (min-width: 50px) and (max-width: 360px){
    body{
        background-size: calc(100vh*2)
    }
    .wow img{
        width: 25%;
    }

    .morere{
        margin: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .contacts img{
        width: 40%;
    }
}